@use '../styles.scss' as *;

//header.css
.header {
  width: 100%;
  height: 80px;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    gap: 24px;
  }

  .h_btn {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
  }
}

//

.profile {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;

  &>.title {
    margin-top: 20px;
    margin-bottom: 30px;

    h2 {
      font-family: 'pretendard_b';
      font-size: 5rem;
      margin-bottom: 40px;

      span {
        color: $point;
      }
    }


    p {
      line-height: 160%;
      font-size: 18px;
    }
  }

  .aboutme {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .picture {
      text-align: center;
      align-content: center;

      img {
        width: 88%;
      }
    }

    .human {
      margin-left: 100px;

      .s_title {
        margin-bottom: 10px;
        

        h3 {
          font-family: 'pretendard_b';
          font-size: 22px;

          span {
            padding: 10px;
          }
        }
      }

      .detail {
        font-size: 20px;
        line-height: 200%;
        margin-bottom: 30px;

        .texts {
          width: 300px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          margin-left: 10px;
          font-size: 18px;

          .right{
            p:last-child {
              &:hover {
                color: $point; 
              }
            }
          }
        }
      }

      .certificate {
        margin-bottom: 30px;

        .inventory {
          font-size: 18px;
        }
      }

      .education {
        .inventory {
          p {
            font-size: 18px;

            br {
              display: none;
            }
          }
        }
      }


      .certificate,
      .education {

        .title {
          h3 {
            font-size: 20px;
          }
        }

        .inventory {
          line-height: 180%;
          padding-left: 10px;
        }
      }
    }
  }
}

//btn
.btn {
  position: fixed;
  z-index: 1;
  bottom: 16px;
  right: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .bubble {
    width: 100px;
    height: 160px;
    background-color: $point;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    text-align: center;
    justify-content: center;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
    margin-bottom: 60px;

    &::after {
      content: '';
      position: absolute;
      bottom: -20px;
      left: 76%;
      transform: translateX(-76%);
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 10px solid transparent;
      border-top: 20px solid $point;
    }
  }

  img {
    position: absolute;
    top: -34px;
    right: 2px;
    z-index: 2;
    width: 94%;
  }

  .top_btn {
    background-color: $point;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer;

    .hamburger {
      position: relative;
      width: 26px;
      height: 21px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .line {
        width: 100%;
        height: 3px;
        background-color: #fff;
        transition: transform 0.3s ease, opacity 0.3s ease;
        border-radius: 5px;
      }

      &.active {
        .line1 {
          transform: rotate(45deg) translate(7px, 7px);
        }
        .line2 {
          opacity: 0;
        }
        .line3 {
          transform: rotate(-45deg) translate(6px, -6px);
        }
      }
    }
  }
}
//



@media (max-width:$desktop) {
  .profile {
    .aboutme {
      .human {
        .education {
          .inventory {
            p {
              br {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width:$laptop) {
  .profile {
    .aboutme {
      .human {
        margin-left: 60px;

        .detail {
          line-height: 160%;
          margin-bottom: 30px;

        }
      }

      .certificate {
        margin-bottom: 30px;
      }
    }
  }
}

@media (max-width:$tabletlarge) {
  .profile {
    &>.title {
      margin-top: 20px;
      margin-bottom: 40px;
    }

    .aboutme {
      .human {
        margin-left: 30px;

        .s_title {
          h3 {
            font-size: 20px;
          }
        }

        .detail {
          line-height: 150%;
        }

        .certificate {
          .inventory {
            font-size: 16px;
          }
        }

        .education {
          .inventory {
            p {
              font-size: 16px;
            }
          }
        }

        .detail {
          .texts {
            width: 260px;
            font-size: 16px;
          }
        }
      }
    }

  }

  .btn {
    bottom: 40px;
  }
}

@media (max-width:$tabletsmall) {
  .profile {
    &>.title {
      margin-top: 20px;
      margin-bottom: 40px;
      // text-align: center;
      
      h2{
        margin-bottom: 20px;
      }
    }

    .aboutme {
      grid-template-columns: 1fr;

      .human{
        .detail{
          .texts{
            grid-template-columns: 1fr;
            .left{
              display: none;
            }
          }
        }
      }

      .picture {
        img {
          width: 65%;
        }
      }

      .human {
        margin: 0 auto;

        .s_title {
          margin-bottom: 10px;

          h3 {
            font-family: 'pretendard_b';
            font-size: 20px;

            &:first-child {
              margin-top: 20px;
            }
          }

        }

        .detail {
          text-align: center;
        }

        .certificate,
        .education {
          text-align: center;
        }
      }
    }
  }

  .btn {
    right: 20px;
  }
}

@media (max-width:$mobile) {
  .header{
    justify-content: center;
    
    h1{
      a{
        img{
          width: 80%;
        }
      }
    }

    ul{
      display: none;
    }
  }

  .profile {
    margin-bottom: 120px;
    
    &>.title {
      h2{
        font-size: 3.5rem;
        margin-bottom: 20px;
      }

      p{
        font-size: 16px;
        text-align: justify;

        br{
          display: none;
        }
      }
    }
  }

  .btn{
    bottom: 74px;

    .top_btn{
      width: 40px;
      height: 40px;

      .hamburger{
        width: 20px;
        height: 16px;

        &.active {
          .line1 {
            transform: rotate(45deg) translate(6px, 5px);
          }
          .line2 {
            opacity: 0;
          }
          .line3 {
            transform: rotate(-45deg) translate(4px, -4px);
          }
        }
      }
    }

    .bubble{
      width: 80px;
      height: 140px;
      font-size: 14px;
      gap: 12px;
      bottom: 80%;

      &::after{
        bottom: -16px;
        
      }
    }

    img{
      width: 90%;
      top: -24px;
    }
  }
}