@use '../styles.scss' as *;

.projects {
  display: flex;
  width: 100%;
  height: 100vh;
  color: #000;
  overflow: hidden;

  .left {
    flex: 0 0 30%;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      font-family: 'pretendard_b';
      font-size: 5rem;
      color: #fff;

      span {
        color: $point;
      }
    }
  }

  .right {
    flex: 1;
    overflow: hidden;
    display: flex;

    .scroll {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: hidden;
      scroll-behavior: smooth;
      width: 100%;

      .card {
        flex: 0 0 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffffee;
        transition: transform 0.5s;

        h2{
          display: none;
        }

        h3 {
          font-size: 2.5rem;
          text-align: center;
        }

        img {
          padding-top: 30px;
        }

        .skill {
          display: flex;
          justify-content: space-between;
          padding: 0 20px;

          p {
            align-self: center;
          }

          a {
            font-family: 'pretendard_b';
            display: flex;
            align-items: center;
            font-size: 16px;

            &:hover {
              color: $point;
            }
          }
        }


        .description {
          padding: 20px;
          margin-top: 10px;

          p {
            line-height: 200%;
          }
        }
      }
    }

    .scroll_mouse {
      display: none;
    }
  }
}



@media (max-width:$desktop) {
  .projects {
    .left {
      h2 {
        padding: 0 2rem;
        font-size: 4rem;
      }
    }

    .right {
      .scroll {
        .card {
          .card_i {
            text-align: center;

            img {
              width: 90%;
            }

            .description {
              text-align: start;
            }
          }

          .skill {
            padding: 0 40px;
          }
        }
      }
    }
  }
}

@media (max-width: $tabletlarge) {
  .projects {
    flex-direction: column;
    height: auto;
    
    .left{
      display: none;
    }
    
    .right {
      position: relative;

      .scroll {
        .card {
          background-color: #ffffffee;
          display: flex;
          flex-direction: column;

          .card_i{
            h2{
              display: block;
              font-size: 4rem;
            }
          }
          
          h2{
            display: block;
            font-family: 'pretendard_b';
            font-size: 3.5rem;
            margin-bottom: 30px;
            
            span{
              color: $point;
            }
          }

          img{
            padding-top: 10px;
          }
        }
      }

      .scroll_mouse {
        position: absolute;
        top: 0;
        right: 2%;
        font-size: 18px;
        color: $point;
        display: flex;
        gap: 14px;
        align-items: center;
        
        &::after {
          content: '➡';
          font-size: 24px;
          animation: sideMove 1.2s infinite ease-in-out;
        }

        @keyframes sideMove {
          0% {
            transform: translateX(0);
          }

          50% {
            transform: translateX(5px);
          }

          100% {
            transform: translateX(0);
          }
        }
      }
    }
  }
}


@media (max-width: $tabletsmall) {
  .projects {
    flex-direction: column;
    height: auto;
    padding: 0 1rem;

    .left{
      display: block;

      h2{
        font-size: 3.5rem;
        margin-bottom: 40px;
        padding: 0;
      }
    }

    .right {
      max-width: 1000px;
      height: 100%;
      margin: auto;

      .scroll {
        flex-direction: column;

        .card {
          flex: 0 0 auto;
          height: auto; 
          margin-bottom: 40px;
          background-color: #ffffffee;
          border-radius: 20px;

          .card_i{
            h3{
              padding-top: 24px;
              padding-bottom: 10px;
              font-size: 2rem;
            }
          }
          
          h2 {
            display: none;

            span {
              color: $point;
            }
          }

          img {
            padding-top: 10px;
          }

          .skill{
            justify-content: start;
            
            p{
              font-size: 14px;
            }

            a{
              display: none;
            }
          }

          .description{
            p{
              font-size: 14px;
            }
          }
        }
      }

      .scroll_mouse {
        display: none;
      }
    }
  }
}


@media (max-width: $mobile){
  .projects{
    .right{
      .scroll{
        .card{
          .skill{
            justify-content: center;
          }
          .card_i{
            h3{
              font-size: 1.3rem;
            }
          }
        }
      }
    }
  }
}