@use '../styles.scss' as *;


.skills{
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 0 1rem;

  h2{
    font-family: 'pretendard_b';
    font-size: 4rem;
    margin-bottom: 40px;

    span{
      color: $point;
    }
  }

  .skills_icon{
    h3{
      display: flex;
      align-items: center;
      font-size: 22px;
      margin: 30px 0;

      &::after {
        content: '';
        flex-grow: 1;
        height: 1px;
        background-color: #fff;
        margin-left: 10px;
      }
    }

    .coding,
    .design,
    .itq{ 
      .icons{
        display: flex;
        flex-wrap: wrap;

        .icon{
          align-items: center;
          width: 130px;
          text-align: center;
        }
      }
    }
  }
}


@media (max-width: $laptop) {
  .skills{
    margin-bottom: 15.5rem;

    h2{
      margin-top: 100px;
    }
  }
}