@use '../styles.scss' as *;

.skills {
  max-width: 1200px;
  margin: auto;
  padding: 50px 1rem;

  h2 {
    font-family: 'pretendard_b';
    font-size: 5rem;
    margin: 40px 0;

    span {
      color: $point;
    }
  }

  .skills_icon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

    h3 {
      font-size: 2.5rem;
      padding-bottom: 32px;
      text-align: center;
    }

    .coding,
    .design,
    .itq {
      .icon {
        display: flex;
        gap: 18px;
        padding-bottom: 10px;
      }


      .text {
        align-content: center;
        width: 100px;
      }
    }
  }
}


@media (max-width:$tabletsmall) {

  .skills {
    padding: 80px 1rem;

    h2{
      font-size: 4rem;
    }
    
    .skills_icon {
      grid-template-columns: repeat(1, 1fr);

      h3 {
        text-align: start;
      }

      .coding {
        .icons {
          .icons_i {

            .coding_top,
            .coding_btm {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
            }
          }
        }
      }

      .design,
      .itq {
        .icons {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
        }
      }

      .coding,
      .design,
      .itq {
        margin-bottom: 40px;

        .icon {
          img {
            width: 55px;
          }
        }


      }
    }
  }
}


@media (max-width:$mobile) {
  .skills{
    h2{
      font-size: 3.5rem;
      margin: 20px 0;
    }
    .skills_icon{
      h3{
        font-size: 2rem;
      }
      
      .coding,
      .design,
      .itq{
        .icon{
          gap: 4px;
        }

        .text{
          font-size: 14px;
          width: 80px;
        }
      }
    }
  }
}

@media screen and (max-width:470px) {
  .skills{
    h2{
      margin: 70px 0;
    }
    
    .skills_icon{
      h3{
        // text-align: center;
        padding-bottom: 16px;
      }

      .coding,
      .design,
      .itq{
        .icon{
          img{
            width: 76px;
          }
        }
        .text{
          display: none;
        }
      }
    }
  }
}