$main_Color: #27334B;
$sub_Color: #fffffff8;
$point: #DF5559;
$desktop: 1340px;
$laptop: 1020px;
$tabletlarge: 870px;
$tabletsmall: 740px;
$mobile: 560px;


@font-face {
    font-family: 'pretendard_b';
    src: url('/assets/fonts/pretendard-Bold.ttf');
  }
  
  @font-face {
    font-family: 'pretendard_m';
    src: url('/assets/fonts/pretendard-Light.ttf');
  }
  
  @font-face {
    font-family: 'pretendard_r';
    src: url('/assets/fonts/pretendard-Medium.ttf');
  }
  
  @font-face {
    font-family: 'soyo';
    src: url('/assets/fonts/soyo_Maple_Bold.ttf');
  } 

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  body {
    background-color: $main_Color;
    font-family: 'pretendard_r';
    color: #ffffff;
  }
  
  .web {
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  
    .section {
      scroll-snap-align: start;
      min-height: 100vh;
      position: relative;
    }
  }
  
  // Scrollbar
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #ffffff;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #DF5559;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #27334B;
    border-radius: 10px;
  }


  @media (max-width:$tabletsmall){
    .web{
      scroll-snap-type: none;
    }
  }

  